//variáveis das cores
$ui-color-primary-light: #008E86;
$ui-color-primary: #0B8D85;
$black-2: #1F2D3D;
$aco: #273444;
$prata: #3C4858;
$prata-2: #707C8C;
$gray: #8492A6;
$gray-2: #D6D6D6;
$fumaca-extra-dark: #848484;
$neve-extra-dark: #E5E9F2;
$neve-dark: #EFF2F7;
$neve: #F9FAFC;
$white: #FFFFFF;
$transparent: #00000000;

$awe-colors: (
  "primary-normal":      $ui-color-primary,
  "primary-light":       $ui-color-primary-light,
  "black-2":            $black-2,
  "aco":                $aco,
  "prata":              $prata,
  "prata-2":            $prata-2,
  "gray":               $gray,
  "gray-2":             $gray-2,
  "fumaca-extra-dark":  $fumaca-extra-dark,
  "neve-extra-dark":    $neve-extra-dark,
  "neve-dark":          $neve-dark,
  "neve":               $neve,
  "white":              $white
);

//Variáveis das fontes
$font-family-sans-serif: 'Inter', sans-serif;
$font-sizes: (12: 12px, 14: 14px ,16: 16px, 18: 18px, 21: 21px, 24: 24px, 26: 26px, 28:28px, 30: 30px, 36: 36px, 40: 40px, 44: 44px);
$font-families: (inter: 'Inter', open-sans: 'Open Sans');

// spacers variable definition
$spacer: 1rem;
$custom-spacers: (
  "awe-6": $spacer * 0.5,
  "awe-12": $spacer * 0.75,
  "awe-16": $spacer,
  "awe-18": $spacer * 1.125,
  "awe-24": $spacer * 1.5,
  "awe-28": $spacer * 1.75,
  "awe-32": $spacer * 2,
  "awe-36": $spacer * 2.25,
  "awe-40": $spacer * 2.5,
  "awe-44": $spacer * 2.75,
  "awe-48": $spacer * 3,
  "awe-56": $spacer * 3.5,
  "awe-64": $spacer * 4,
  "awe-80": $spacer * 5,
  "awe-84": $spacer * 5.25,
  "awe-96": $spacer * 6,
  "awe-108": $spacer * 6.75,
  "awe-128": $spacer * 8,
  "awe-148": $spacer * 9.25,
  "awe-160": $spacer * 10,
  "awe-200": $spacer * 12.5,
  "awe-224": $spacer * 14,
  "awe-400": $spacer * 25,
) !default;

//Variáveis das fontes
$font-family-sans-serif: "Inter", sans-serif;
$font-sizes: (
  10: 10px,
  12: 12px,
  14: 14px,
  16: 16px,
  18: 18px,
  20: 20px,
  24: 24px,
  28: 28px,
  30: 30px,
  38: 38px,
  48: 48px,
  56: 56px,
  96: 96px,
  130: 130px,
);

$font-weight-thin:        100;
$font-weight-extra-light: 200;
$font-weight-light:       300;
$font-weight-regular:     400;
$font-weight-medium:      500;
$font-weight-semi-bold:   600;
$font-weight-bold:        700;
$font-weight-extra-bold:  800;
$font-weight-black:       900;

//buttons
$btn-box-shadow:  0;
$btn-focus-width: 0;
$btn-padding-y:               1em;
$btn-padding-x:               2em;

$progress-height:                   1.8rem;
$progress-bar-color:                $white;
$progress-bar-bg:                   #19C59D;
$progress-bg:                       #D9DCE5;

$input-btn-padding-y:         .1rem;
$input-btn-padding-x:         .1rem;

$navbar-padding-y: 0;

//Pagination
$pagination-color:                  $aco;
$pagination-bg:                     none;
$pagination-border-color:           none;
$pagination-focus-color:            $ui-color-primary-light;
$pagination-focus-bg:               none;
$pagination-focus-box-shadow:       none;
$pagination-focus-outline:          0;
$pagination-hover-bg:               none;
$pagination-hover-border-color:     none;
$pagination-active-color:           $ui-color-primary-light;
$pagination-active-bg:              none;
$pagination-active-border-color:    $ui-color-primary-light;

//input
$input-box-shadow:                      none;
$input-focus-border-color:              none;
$input-focus-box-shadow:                none;
$input-plaintext-color:                 none;

//button
$btn-focus-box-shadow:       none;