@import "https://unpkg.com/swiper@7/swiper-bundle.min.css";
@import "bootstrap";

$ui-color-primary-light: #008E86;
$ui-color-primary: #0B8D85;
$black-2: #1f2d3d;
$aco: #273444;
$prata: #3c4858;
$prata-2: #707c8c;
$gray: #8492a6;
$fumaca-extra-dark: #c0ccda;
$neve-extra-dark: #e5e9f2;
$neve-dark: #eff2f7;
$neve: #f9fafc;
$white: #ffffff;
$transparent: #00000000;

* {
    font-family: "Inter", sans-serif;
}

//Importações de fontes
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@1,700&display=swap");

//Definição da largura máxima do container e remoção do padding padrão
.container {
    max-width: 1192px;
}

//Definição da cor de fundo do body
body {
    background: #FDFDFD;
}

header {
    .box-logo {
        position: relative;
        &::after {
            content: "";
            display: block;
            background: $white;
            height: 60px;
            width: 1px;
            position: absolute;
            left: 223px;
        }
    }
}

//Formatações da notícia
article {
    .comments {
        background: url(../../dist/image/icons/comments.svg);
        width: 32px;
        height: 25px;
    }

    //formatação da frase destaque na notícia
    .destaque-box {
        background: $neve;
        border-left: 5px solid #008E86;
    }

    p {
        margin-bottom: 48px;
    }
}

//estilizando filtro por categorias da página da notícia
.filters {
    background: linear-gradient(90deg, #eff4fc 0%, rgba(249, 250, 252, 0) 106.36%);
}

//logo do footer
.box-logo-primary{
    position: relative;
    &::after{
        content: "";
        display: block;
        width: 60px;
        height: 1px;
        background: $ui-color-primary;
        position: absolute;
        bottom:-20px;
        left:23px;
    }
}

@media (max-width: 576px) {
    header {
        .box-logo {
            position: relative;
            &::after {
                display: none;
            }
        }
    }
}


.post-relacionado {
    position: relative;
    &::before {
        content: '';
        width: 100%;
        height: 1px;
        display: block;
        background: linear-gradient(90deg, #665C5C 0%, rgba(102, 92, 92, 0) 65.59%);
        position: absolute;
        top: 0%;
    }
    &:hover {
        opacity: 80%;
    }
}

.breadcrumb {
    .breadcrumb-item {
        max-width: 465px;
    }
}

.box-title {
    &::after {
        content: "";
        display: block;
        background: #0B8D85;
        height: 5px;
        width: 163px;
        border-radius: 50px;
        position: absolute;
        bottom: 0%;
    }
}

.filter {
  border: 1px solid $prata;
  color: $prata;
  display: block;
  text-decoration: none;
  padding: 4px 17px;
  &:hover {
      color: $black-2;
      border-color: $black-2;
  }
  &:active, &.active {
      color: $ui-color-primary-light;
      border-color: $ui-color-primary-light;
  }
}

.filter-2 {
  border: 1px solid $ui-color-primary-light;
  color: $ui-color-primary-light;
  padding: 4px 17px;
  text-decoration: none;
  position: relative;
  span {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 23px;
      height: 23px;
      border: 0.78px solid $ui-color-primary-light;
      border-radius: 50%;
      right: -11.5px;
      top: -11.5px;
  }
  &:hover {
      color: $ui-color-primary;
      border-color: $ui-color-primary;
      span {
          border-color: $ui-color-primary;
      }
  }
  &:active {
      color: $white;
      background: $ui-color-primary;
      span {
          border-color: $ui-color-primary;
          color: #008E86;
      }
  }
  &.active {
      background: $ui-color-primary;
      color: $white;
  }
}


.pagination {
  .page-item {
      border-radius: 50%;
      height: 39px;
      width: 39px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
          .page-link {
              color: $ui-color-primary-light
          }
      }
      .page-link {
          padding: 0;
          margin: 0;
      }
  }

  .page-item.active {
      border: 1px solid $ui-color-primary;
  }
}

.card-box::after{
     background-image: linear-gradient(180deg, rgba(255,255,255,0) 52%, rgba(0,0,0,1) 100%);
     content: 'Will Smith é banido do Oscar por 10 anos após tapa em Chris Rock<';
     display: block;
     position: absolute;
     top: 0;
     bottom: 0;
     width: 561px;

    }

.box{
    bottom: 0;
    left: 0;
    padding: 30px;
}

.box-2{
    top: 0;
    left: 0;
    background-color: #E62121;
    padding: 4px;
    padding-left: 14px;
    padding-right: 14px;
}




.text-prata{
  color: $prata !important;
}

.text-prata-2{
  color: $prata-2 !important;
}

.text-aco{
  color: $aco !important;
}

.text-gray{
  color: $gray !important;
}

.text-primary-normal{
  color: $ui-color-primary !important;
}

.text-primary-light{
  color: $ui-color-primary-light !important;
}

.fz-21{
  font-size: 21px !important;
}

.fz-36{
  font-size: 36px !important;
}

.position-absolute{
    position: absolute !important;
}

.position-relative{
    position: relative !important;
}